.section{
	width: 100%;
	height: 2500px;
	background-color: 
}
.content{
	width: 80%;
	height: 1800px;
	background-color: ;
	margin: auto;

}
.intro_product{
	width: 65%;
	height: 1700px;
	float: left;
	background-color: 
}
.spacing{
	width: 3%;
	height: 700px;
	float: left;
	background-color: 
}
.detail_product{
	width: 32%;
	float: left;
	height: 1000px;
	background-color: 
}
.slider_image{
	width: 100%;
	height: 700px;
	background-color: 
}
#list_images{
	width: 11%;
	height: 700px;
	background-color: ;
	float: left
}
#slide{
	width: 89%;
	height: 700px;
	background-color: ;
	float: left;
}
.list_images_1{
	width: 100%
	;height: 70px;
	background-color: ;
	margin-top: 8px;
	border: 0.8px solid;
}
.model_image{
	width: 100%;
	height: 410px;

}
#infor_buy{
	width: 100%;
	height: 80px;
	background-color: ;
	border-bottom: 0.8px grey solid
}
#comment{
	width: 100%;
	height: max-height;
	background-color: 
}

/*rating 5 star*/
#comment_box{
	width: 100%;
	height: max-height;
	background-color: ;
	
}
#bottom_form{
	width: 100%; 
	height: 30px;
	border-bottom: 1px solid grey 
}
#cmt_user{
	width: 100%;
	height: max-height;
	background-color: 
}
#name_user{
	width: 100%;
	height: 30px;
	background-color: 
}
#cmt{
	width: 100%;
	height: 70px;
	background-color: 
}
#time_cmt{
	width: 100%;
	height: 20px;
	background-color: 
}


/*detail_product*/
.tittle{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid grey
}
.price{
	width: 100%;
	height: 200px;
	background-color: 
}
.bold{
	width: 100%;
	height: 30px;
   
}
#bold_radius{

    margin: 3px;
    width: 25px;
    height: 25px;

    border-radius: 50%;/*
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;*/
    float: left;
}
.a_collapse{
	font-size: 12px;
	text-transform: uppercase;
}
.san_pham_lien_quan{
	width: 80%;
	height: 600px;
	background-color: ;
	margin:auto;
}
#co_the_ban_se_thich{
	width: 50%;
	height: 50px;
	background-color: ;
	margin:auto;
}
#slide_san_pham_lien_quan{
	width: 100%;
	height: 400px;
	background-color: ;
	border-bottom: 1px grey solid
}
#serviceee{
	width: 100%;
	height: 160px;
	border-bottom: 1px grey solid;
	background-color: 
}
#serviceee1{
	width: 25%;
	height: 100%;
	float: left;

	background-color: 
}
#serviceee2{
	width: 25%;
	height: 100%;
	float: left;
	background-color: /*yellow*/
}
#serviceee3{
	width: 25%;
	height: 100%;
	float: left;
	background-color: /*orange*/
}
#serviceee4{
	width: 25%;
	height: 100%;
	float: left;
	background-color: /*blue*/
}


div.stars {
  width: 105px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 2px;
  font-size: 13px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}