.section{
	width: 100%;
	height: 1700px;
	background-color: 
}
#panel{
	width: 100%;
	height: 85px;
}
.content{
	width: 80%;
	height: 1600px;
	background-color: ;
	margin: auto;

}
.left{
	width: 200px;
	height: 1530px;
	background-color: ;

	float: left;
}
.spacing{
	width: 30px;
	background-color: ;
	float: left;
	height: 100%
}
.right{
	width: 720px;
	height: 100%;
	background-color: ;
	float: left;
}
.category_left{
	height: 160px;
	width: 100%;
	margin: auto;
	background-color: 
}
.filter{
	height: 1000px;
	width: 100%;
	margin: auto;
	background-color: 

}
.spacing_category{
	width: 100%;
	background-color: white;
	
	height: 30px
}

.td_table_category{
	padding-left: 10px
}
.tr_table_category{
	border-bottom: 2px solid black;
	background-color: #202123;
	 color: white;
	  height: 40px
}

/*right*/
.describe{
	width: 100%;
	height: 100px;
	background-color: 
}
.category{
	height: 150px;
	width: 100%;
	background-color: ;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey
}
.category_title{
	height: 40px;
	width: 100%;
}
.category_panel{
	height: 110px;
	width: 100%
}
.category_panel_detail{
	height: 80%;
	width: 200px;
	background-color: ;
	margin: auto;
	float: left;
	margin-left: 20px;
	text-align: center;
}
.content_product{
	width: 100%;
	height: 1350px
}
#sap_xep_product{
	height: 38px;
	width: 100%;
}
.list_product{	
	width: 100%;
	height: 470px;
	background-color: ;
	margin: auto;
}
.product_detail{
	width: 33.33333333%;
	margin: auto;
	height: 100%;
	float: left;
}
#product_1{
	background-color: 
}
#product_2{
	background-color: 
}
#product_3{
	background-color: 
}

/*ratung star box*/
.checked {
  color: orange;
}
#pagination{
	text-align: center;
	width: 100%;
	height: 38px;
	margin: auto;
	background-color: 
}
#bold_radius{

    margin: 3px;
    width: 20px;
    height: 20px;

    border-radius: 50%;/*
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;*/
    float: left;
}
.bold{
	width: 100%;
	height: 30px;
    margin-left: 80px
}
