<footer class="footer">
				<div class="footer_top">
					<div id="footer_top_left">
						<div class="top_space"></div>
						<div id="logo_footer">
							
							<center><img src="public/images/logo_footer.JPG" style="width: 100%; height: 100%"></center>
						</div>
						<div id="text_footer">
							<center>
								<p style="width: 100%; height: 100%; font-size: 16px; color: #81776e">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								</p>
							</center>
						</div>
					</div>
					<div id="footer_top_mid">
						<div class="top_space"></div>
						<div id="_head_footer_top_mid">
							<center><h2 style="color: white">NHẬN ƯU ĐÃI, GIẢM GIÁ</h2></center>
						</div>
						<div id="form_email">
							<form class="form-group ">
					          <input type="text" class="form-control" placeholder="E n t e r   Y o u r   E m a i l"
					            aria-label="Your email" style="width: 480px; height: 55px; text-align: center; ">
					           <p></p>
							  <div class="btn-group btn-group-lg mb-4" role="group" aria-label="Basic example" style="margin-left: 180px">
							  		<button type="button" class="btn btn-danger">ĐĂNG KÝ</button>
							  </div>
					          
					        </form>
						</div>
					</div>
					<div id="footer_top_right">
						<div class="top_space"></div>
						<center><h4 style="color: white">LIÊN HỆ</h4></center>
						<DIV class="text_footer">
							<center>
								<p style="width: 100%; height: 100%; font-size: 14px; color: #81776e">
									1399 Đường 3 Tháng 2, Quận 1, TP HCM <br>
									24 Trần Văn Kiều, Quận 1, TP HCM <br>
									Hotline: 0983.05.05.05 <br>
									Email Us: into@happybag.vn
								</p>
							</center>
						</DIV>
					</div>
				</div>
				<div class="footer_mid">
					<div class="top_space">
					</div>
					<div class="text_footer">
						<center><h5 style="color: white"><b>VỀ CHÚNG TÔI</b></h5></center>
						<center>
							<table style="border-spacing: 3px; width: 80%; color: #81776e">
								<tr >
									<td><a href="#" style="text-decoration: none; color: #81776e">Vận Chuyển</a></td>
									<td><a href="#" style="text-decoration: none; color: #81776e">Bảo Hành</a></td>
									<td><a href="#" style="text-decoration: none; color: #81776e">Đổi Trả</a></td>
									<td><a href="#" style="text-decoration: none; color: #81776e">Bảo Mật</a></td>
									<td><a href="#" style="text-decoration: none; color: #81776e">Liên Hệ</a></td>
								</tr>
							</table>
						</center>
					</div>
				</div>
				<div class="footer_bottom">
					<p style="color: #7f7872;margin-left: 50px;
    padding-top: 12px; font-size: 14px">© 2019 By HappyBag. All Right Reserved. Design By Sudo</p>
				</div>
			</footer>