<div class="header_mid">
						<div class="row" style="margin-top: 25px; margin-left: 38px">

							<!-- ảnh logo -->
						    <div class="col">
						      <img src="public/images/logo.png" >
						    </div>

						    <!-- menu ngang -->
						    <div class="col-6">
						      <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white">
								  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								    <span class="navbar-toggler-icon"></span>
								  </button>

								  <div class="collapse navbar-collapse" id="navbarSupportedContent">
								    <ul class="navbar-nav mr-auto">
								      <li class="nav-item">
								        <a class="nav-link" href="#">VALI</a>
								      </li>
								      <li class="nav-item">
								        <a class="nav-link" href="#">BALO</a>
								      </li>
								       <li class="nav-item">
								        <a class="nav-link" href="#">TÚI XÁCH</a>
								      </li>
								       <li class="nav-item">
								        <a class="nav-link" href="#">PHỤ KIỆN DU LỊCH</a>
								      </li>
								       <li class="nav-item">
								        <a class="nav-link" href="#">HÀNG MỚI VỀ</a>
								      </li>
								       <li class="nav-item">
								        <a class="nav-link" href="#">BLOG</a>
								      </li>
								       <li class="nav-item">
								        <a class="nav-link" href="#">LIÊN HỆ</a>
								      </li>
								      
								      
								    </ul>
								    
								  </div>
								</nav>
							   
						    </div>

						    <!-- thanh search và giỏ hàng -->
						    <div class="col">
						    	<div class="row">
							    	<div class="col">
							    	<form class="form-inline my-2 my-lg-0">
									      <input type="text" class="form-control search-input" placeholder="Search" name="srch-term" id="srch-term" />
												<a class="search-icon" type="submit"><i class="glyphicon glyphicon-search glyphicon-rotate-180"></i></a>
									 </form>
									</div>
									<div class="col" style="margin-top: 5px">
								        <label>
								        	<img src="https://img.icons8.com/wired/27/000000/shopping-basket-2.png">
								        </label>
							    	</div>
						    	</div>
						    </div>
					

						 </div>
					</div>



<style type="text/css">
	#header_top{
	font-size: 12px;
	width: 1870px;
  background-color: #f2f2f2
}

#header_top_left_1{
	/*width: 100%*/
	/*padding-right: -10px*/
}

#header_top_right{
	/*max-width: 	50%;*/
	/*margin-right: -50px*/

}
#header_top_left{

}
.header_mid{
	height: 52.74px;
	background-color: 
}
/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
}
 
/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}



/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
}

/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
  font-size: 14px
}

/*==Style cho menu===*/
#menu ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: ;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -38px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}



.search-input{
         background-color: #fff; 
         border: 2px solid grey; 
         box-shadow: none; 
         border-radius: 50px;
         color: #fff;
        }

        .search-input ::-webkit-input-placeholder, .search-input :-moz-placeholder, .search-input ::-moz-placeholder, .search-input :-ms-input-placeholder { {
           color: #fff;
           font-weight: bold;
        }

/** rotation if needed **/
       .glyphicon-rotate-180 {
         transform: scaleX(-1);
     -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
        }

        .search-icon {
        position:relative; 
        color: #fff; 
        right: 30px; 
        top: 2px;
        }
.header_bot{
	max-height: 100%;
	max-width: 100%
</style>