.main{
	width: 100%;
	/*height: max-height;*/
	background-color: ;
	margin: 0 auto;
}
.header{
	width: 100%;
	/*height: 180px;*/
	margin: 0 auto;
}
.main_body{
	/*overflow: hidden;*/
	width: 100%;
	/*background-color: ;*/
	margin: 0 auto;
	box-sizing: border-box;

}

body{
	width: 100%;
	box-sizing: border-box;;
	/*overflow: hidden;*/

}
