main{
	width: 100%;
	box-sizing: border-box;
}

body{
	box-sizing: border-box;
}

.slide{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: ;
	padding-left: 5px;
}
.block{
	width: 100%;
	height: max-height;
	background-color: ;

}
.tittle{
	height: 115px;
	width: 100%;
	margin: auto;
	background-color: 
}
.product{
	height: 450px;
	width: 80%;
	margin: auto;
	background-color: ;
	margin: auto;
	box-sizing: border-box;

}

#product_detail1{
	float: left;
	background-color: ;
	margin: auto;
	width: 25%;
	height: 100%;
}
#product_detail2{
	float: left;
	background-color: ;
	width: 25%;
	height: 100%;

}
#product_detail3{
	float: left;
	background-color: ;
	width: 25%;
	height: 100%;
}
#product_detail4{
	float: left;
	background-color: ;
		height: 100%;
		width: 25%;
}
#category{
	width: 80%;
	box-sizing: border-box;
	height: 100px;
	margin: auto;
	background-color: ;
	border-top: 1px grey solid;
	border-bottom: 1px grey solid;


}
#category1:hover {
  background: #ff9800;
  color: white;
}
#category2:hover {
  background: #ff9800;
  color: white;
}
#category3:hover {
  background: #ff9800;
  color: white;
}
#category4:hover {
  background: #ff9800;
  color: white;
}
#category5:hover {
  background: #ff9800;
  color: white;
}
#category6:hover {
  background: #ff9800;
  color: white;
}
#category1{
	width: 10%;
	height: 30%;
	border: 2px orange solid;
	margin: auto;
	margin-left: 25px;
	text-align: center;
	font-size: 13PX ;


}
#category2{
	width: 10%;
	height: 30%;
	border: 2px orange solid;
	margin: auto;
	margin-left: 25px;
	text-align: center;
	font-size: 13PX ;

}
#category3{
	width: 10%;
	height: 30%;
	border: 2px orange solid;
	margin: auto;
	margin-left: 25px;
	text-align: center;
	font-size: 13PX ;


}
#category4{
	width: 10%;
	height: 30%;
	border: 2px orange solid;
	margin: auto;
	margin-left: 25px;
	text-align: center;
	font-size: 13PX ;

}
#category5{
	width: 10%;
	height: 30%;
	border: 2px orange solid;
	margin: auto;
	margin-left: 25px;
	text-align: center;
	font-size: 13PX ;

}
#category6{
	width: 10%;
	height: 30%;
	border: 2px orange solid;
	margin: auto;
	margin-left: 25px;
	text-align: center;
	font-size: 13PX ;

}




/*CSS rating star*/
.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: yellow;}



* {
  box-sizing: border-box;
}

.zoom_image {
  padding: 10px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom_image:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;

}

#serviceee{
	width: 80%;
	height: 200px;
	background-color: 
	;margin: auto;
	border-top: 1px grey solid;
	border-bottom: 1px grey solid
}
#serviceee1{
	width: 25%;
	height: 100%;
	float: left;

	background-color: 
}
#serviceee2{
	width: 25%;
	height: 100%;
	float: left;
	background-color: /*yellow*/
}
#serviceee3{
	width: 25%;
	height: 100%;
	float: left;
	background-color: /*orange*/
}
#serviceee4{
	width: 25%;
	height: 100%;
	float: left;
	background-color: /*blue*/
}
